.navbar {
  display: flex;
  align-items: center;
}

.navbar-links {
  display: flex;
  flex-direction: row; /* ← clave */

  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar-links a {
  font-size: 1.25rem;
  font-weight: 600;
}



.navbar-left {
  flex: 1;
}

.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.navbar-left img {
  width: 200px;
}
